@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&family=Roboto Slab&display=swap');

:root {
    /*--bg-color: #F7E7CE;*/
    /*--bg-color: #fff9b8;*/
    --bg-color: #feffed; /* marfim */
    /*--bg-color: #fffae2; !* pérola *!*/
    --primary-color: #FF4500;
    --primary-color-font: #2F2E2D;
    --background-with-opacity: #2f2e2d09;
    /*--secondary-color-font: #8D8D8D;*/
    --secondary-color-font: #777;
    --white: #FFF;
    --silver: #d6d6d6;
    --soft-silver: #f3f3f3;
    --blue: #D1E5EE;
    --soft-blue: #E6F5FC;
}

p, li, strong, footer, table, td, th, b, a, input, textarea {
  font-family: 'Trebuchet MS', serif;
  color: var(--secondary-color-font);
  line-height: 1.5em;
}

h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
  color: var(--secondary-color-font);
}

a {
  color: var(--primary-color-font);
}

p {
  margin-bottom: 1em;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

ul.apresentacao {
  list-style: disc;
}

.title {
    color: var(--primary-color);
    font-size: 3rem;
    letter-spacing: 4px;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

.home-page-subsubtitle {
  font-size: 1.2em;
}

.subtitle {
    color: var(--primary-color);
    font-size: 2rem;
    letter-spacing: 4px;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.subtitle-small {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 4px;
}

hr {
    margin-bottom: 30px;
    opacity: 0.3;
}

.bold-italic-silver {
    color: var(--secondary-color-font);
    font-style: italic;
    font-weight: bolder;
}

.bold-silver {
  color: var(--secondary-color-font);
  font-weight: bolder;
  line-height: 1.15em;
}

.basic-text, .basic-list, .basic-ul li{
    color: var(--secondary-color-font);
    font-size: 1rem;
}

.description {
    font-size: 1.3rem;
    line-height: 1.15em;
    color: var(--secondary-color-font);
    letter-spacing: 2px;
    animation-delay: 0.3s;
}

.text-silver {
    color: var(--secondary-color-font) !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.silvia-header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 10px;
    height: 60px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.silvia-header * {
    font-family: 'Exo', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
}

.silvia-nav,
.silvia-nav ul {
    display: flex;
    gap: 25px;
}

.nav-link {
    cursor: pointer;
    transition: all 0.8s;
}

.nav-link:hover,
.nav-link:active {
    color: var(--primary-color);
    transition: all 0.3s;
}

.header-text-logo {
    color: #AAA;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5em !important;
  margin-left: 5em;
}

.select-language ul {
    display: none;
    position: absolute;
    top: 60px;
    background-color: var(--white);
    padding: 10px 30px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
}

.select-language ul li {
    padding: 10px 0;
    cursor: pointer;
}

#language-checkbox:checked ul {
    display: block !important;
}

.language-label {
    padding: 10px 10px;
    border-radius: 5px;
    border: solid 1px var(--silver);
    cursor: pointer;
}

input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    margin: 0;
    padding: 0;
}

.mobile-menu {
    display: none;
}

.select-language input[type="checkbox"]:checked+ul {
    display: block;
}

.main-content {
    min-height: 93vh;
    box-sizing: border-box;
    padding: 100px 10vw 50px;
    overflow-x: hidden;
}

.main-content.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-template {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

.home-template-image-container {
    display: flex;
    align-items: center;
    max-height: 85vh;
    align-self: center;
}

.home-template-image {
  height: 100%;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #6D6D6D;
    border-radius: 30px;
}

.home-template-topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-topic {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.home-topic > p {
  margin: 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
}

.circle {
    margin: 0 auto;
}

#texture-a {
    background-image: url(../images/textures/noticia.png);
    background-size: cover;
}

#texture-b {
    background-image: url(../images/textures/belo.png);
    background-size: cover;
}

#texture-c {
    background-image: url(../images/textures/reflexao.png);
    background-size: cover;
}

#texture-d {
    background-image: url(../images/textures/homenagem.png);
    background-size: cover;
}

.select-language-mobile {
    display: none;
}

.container-select-language-mobile {
    display: grid;
    gap: 20px;
}

.mobile-flags {
    display: flex;
    gap: 10px;
}

.mobile-flags img {
    cursor: pointer;
}

.medium-container{
    width: 100%;
    box-sizing: border-box;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.category {
    margin-top: 30px;
}

.menu-category-item {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--secondary-color-font);
    width: 100%;
    text-align: center;
}

.menu-category-item:hover {
    color: var(--primary-color);
    transition: all 0.5s;
    cursor: pointer;
}

.menu-category {
    display: flex;
    justify-content: space-between;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--white);
    color: var(--secondary-color-font);
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    /* Position the tooltip */
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.musical-catalog-card {
    background-color: var(--white);
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 5px;
}

table,
th,
td {
    border: 1px solid var(--secondary-color-font);
    border-collapse: collapse;
    padding: 10px;
    opacity: 0.9;
}

.musical-catalog-table-wrapper {
  overflow: scroll;
}

.musical-catalog-table-wrapper::-webkit-scrollbar {
  display: none;
}

.musical-catalog-table {
    width: 100%;
}

.musical-catalog-table * {
    color: var(--secondary-color-font) !important;
}

.musical-catalog-table thead {
    width: 100%;
    text-align: left;
}

.musical-catalog-table tbody td {
    max-width: 200px;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.center-container-grid {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.custom-form{
    display: grid;
}

.video-template{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 10px;
}

.row-4-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
}

.row-4-columns div {
    width: 400px;
    height: 400px;
}

.img-lightbox {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5 ease-in-out;
}

.img-lightbox:hover {
    filter: brightness(80%);
}

.row-2-columns-full{
    display: flex;
    justify-content: space-between;
}

.row-2-columns-basic{
    display: flex;
    gap: 5vw;
    margin-top: 5vw;
}

.row-2-columns {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    height: auto;
}

.row-2-columns div {
    max-width: 600px;
}

.image-container {
    max-width: 500px;
}

.select-language {
    padding-right: 20px;
}

/* Responsive iframe */

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.container-gallery{
    margin-top: 60px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .image-gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
  }

  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

/* Responsive */

@media only screen and (max-width: 1000px) {
    .home-template {
        width: 100% !important;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

  .home-template-image-container {
    align-self: normal;
  }

  .home-template-image-container > img {
    max-height: 69vh;
  }

  .basic-text h3 {
    font-size: 1.05em;
  }

    .mobile-menu {
        display: block;
    }

    .silvia-nav ul {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 60px;
        left: 100vw;
        background-color: var(--white);
        z-index: 9;
        justify-content: center;
        display: block;
        text-align: center;
    }

    .silvia-nav ul li {
        height: 10px;
        margin-top: 30px;
        display: grid;
        justify-content: center;
    }

    .select-language {
        display: none !important;
    }

    #mobile-menu:checked~ul {
        transition: all 0.5s;
        left: 0 !important;
    }

    #mobile-menu~ul {
        transition: all 0.3s;
    }

    .main-content {
        padding: 90px 5vw 40px;
    }

    .main-content.home {
        padding-top: 80px;
    }

    .select-language {
        display: none;
    }

    .select-language-mobile {
        display: block;
    }

    .menu-category-item {
        text-align: left;
    }

    .menu-category {
        display: grid;
        gap: 15px;
    }
}

.basic-list li {
    padding-top: 10px;
    opacity: 0.8;
}

.custom-link{
    color: var(--primary-color);
    text-decoration: underline;
}

.first-letter{
    background-color: var(--primary-color);
    color: var(--white);
    height: auto;
    width: auto;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2rem;
}

.first-stanza{
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

/* Forms */

.input{
    padding: 15px;
    background-color: var(--white);
    border: solid 1px var(--soft-silver);
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.input:focus{
    background-color: var(--soft-blue);
    border: solid 1px var(--blue);
}

.button{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

.custom-form{
    min-width: 800px;
    display: grid;
    gap: 20px;
    margin-top: 50px;
}

.form-horizontal-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

textarea {
    resize: vertical;
}

.form-horizontal-container div, .form-horizontal-container div *{
    width: 100%;
}

.replace-with-icon .mobile{
    justify-content: center;
    gap: 20px;
    display: none;
}

.read-more{
    background-color: var(--background-with-opacity);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.read-more .bi{
    color: var(--primary-color-font);
    opacity: 0.5;
}

.article-card{
    margin-top: 50px;
}

.justify{
    text-align: justify;
}

.midia-card{
    background-color: var(--background-with-opacity);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.midia-card-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

.midia-card-header .bi{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 25px;
    font-size: 1.5rem;
}

.midia-chevron .bi{
    font-size: 1.5rem;
}

.basic-ul li{
    color: var(--secondary-color-font) !important;
    margin-top: 10px;
}

.li-bolder{
    font-weight: bolder;
}

.margin-top{
    margin-top: 60px;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 830px;
    justify-content: left;
    gap: 10px;
    margin-top: 40px;
}

.photo-gallery div{
    width: 200px;
    height: 200px;
}

footer{
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 5vw;
    color: var(--secondary-color-font);
    font-size: 0.9rem;
  height: 60px;
}

@media only screen and (max-width: 1200px) {
    .row-2-columns-basic{
        display: grid;
    }
}

@media only screen and (max-width: 1000px) {
  .bi {
    font-size: 2rem !important;
  }

  .bi:hover{
    opacity: 0.8;
    transition: all 0.5s;
  }
}

@media only screen and (max-width: 890px) {
    .hide-when-mobile {
        display: none;
    }

    .musical-catalog-card {
        padding: 10px;
    }

    .custom-form *{
        min-width: 0;
        width: 90vw;
        margin: 0 auto;
    }

    .button{
        max-width: 200px;
    }

    .form-horizontal-container{
        display: grid;
        justify-content:unset;
    }

    .replace-with-icon .desktop{
        display: none;
    }

    .replace-with-icon .mobile{
        display: flex;
    }

    .row-2-columns-full{
        display: grid !important;
        justify-content: center;
        gap: 30px;
    }

    .video-template{
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .row-4-columns div {
        width: 100%;
        height: 85vw;
    }

    .image-container,
    .image-container img, .image-gallery > li {
        width: 100%;
    }

    .photo-gallery div{
        width: 100%;
        height: auto;
    }



    .button{
        max-width: none;
    }

    .replace-with-icon .mobile{
        display: grid;
    }
}

@media only screen and (max-width: 700px){
    .first-letter{
        background-color: transparent;
        color: var(--secondary-color-font);
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 2rem;
    }

    .iframe-container-basic {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container-basic iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 300px;
    }

    .home-topic > p {
      font-size: 0.85em;
    }
    .home-topic > .circle {
      width: 34px;
      height: 34px;
    }
}

@media only screen and (max-width: 450px) {
    .home-template-topics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .home-topic {
        width: auto;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .subtitle-small,
    strong {
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .description {
        font-size: 1rem;
    }

  .home-page-subsubtitle {
    font-size: 1rem;
  }

    .midia-card-header .bi{
        padding: 15px;
    }

    .video-template{
        width: 100vw;
    }

    .medium-container{
        padding: 5vw;
    }

    .video-template-iframe {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
    }

    .video-template-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 300px;

    }
}

.home.mobile {
    display: none;
}

.menu-close {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .home.desktop, footer, .mobile-menu.desktop
    /*, .silvia-header*/
    {
        display: none;
    }

    .silvia-nav ul {
        top: 0;
    }

    .silvia-header {
        background-color: unset;
        box-shadow: none;
    }

    .home.mobile {
        display: block;
    }

    .home.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home.mobile .top {
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 5vh;
    }

    .home.mobile .title {
        text-align: left;
        /*min-width: 200px;*/
        /*border: 1px black solid;*/
    }

    .home.mobile .title .name {
        font-weight: 600;
        color: #ff4600;
        font-family: "Open Sans", sans-serif;
        font-size: 10vw;
        letter-spacing: 0;
    }

    .home.mobile .title .surname {
        font-weight: 800;
        color: #ff4600;
        font-family: "Open Sans", sans-serif;
        font-size: 10vw;
        letter-spacing: 0;
    }

    .home.mobile .portrait {
        width: 60vw;
        height: calc(60vw * 1.25);
        border-radius: 10%;
        overflow: hidden;
        background-image: url("https://silviadelucca.art.br/wp-content/themes/silviadeluccatheme/assets/images/uploads/home/silvia2.jpg");
        background-size: cover;
        background-position: center center;
        transform: scaleX(-1);
    }

    .home.mobile .more {
        display: flex;
        gap: 2vw;
        justify-content: center;
    }

    .home.mobile .more .dot {
        /*border: 1px solid black;*/
        border-radius: 50%;
        width: 2.5vw;
        height: 2.5vw;
        background-color: #ff4600;
        display: inline-block;
    }

    .menu-close {
        display: block !important;
        position: absolute;
        top: -20px;
        right: 20px;
    }

    .mobile-menu.mobile {
        background-color: white;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 12px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vw;
    }

    .mobile-menu.mobile .menu-name {
        font-family: 'Open Sans', sans-serif;
        font-size: 8vw;
        font-weight: 600;
        color: gray;
    }

    .mobile-menu.mobile .menu-icon {
        font-size: 10vw;
        font-weight: 800;
        color: gray;
    }

    .home.mobile .bottom {
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*gap: 5vh;*/
    }

    .home.mobile .bottom .title {
        padding-right: 2vw;
        padding-left: 2vw;
        color: gray;
        font-weight: 800;
        /*color: #ff4600;*/
        line-height: 1.25;
        font-family: "Open Sans", sans-serif;
        font-size: 5.3vw;
        letter-spacing: 0;
        text-align: center !important;
    }

    .home.mobile .bottom .divisor {
        padding-right: 30vw;
        padding-left: 30vw;
    }

    .home.mobile .bottom .divisor > hr {
        height: 2px;
        background-color: black;
        margin: 20px 0;
    }

    .home.mobile .bottom .subtitle {
        text-align: center;
        color: gray;
        text-transform: none;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        padding-right: 10vw;
        padding-left: 10vw;
        font-weight: 500;
        font-size: 5.3vw;
    }

    .home.mobile .bottom .buttons {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        align-items: center;
    }

    .home.mobile .bottom .button {
        width: 40vw;
        height: 10vw;
        /*border: 1px solid black;*/
        border-radius: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        font-weight: 500;
    }

    .home.mobile .bottom .button.belo {
        background-image: url("https://silviadelucca.art.br/wp-content/themes/silviadeluccatheme/assets/images/uploads/home/silvia2.jpg");
        background-position-x: -357px;
        background-position-y: 118px;
    }

    .home.mobile .bottom .button.noticia {
        background-image: url("https://silviadelucca.art.br/wp-content/themes/silviadeluccatheme/assets/images/uploads/home/silvia2.jpg");
        background-position-x: 32px;
        background-position-y: -80px;
    }

    .home.mobile .bottom .button.reflexao {
        background-image: url("https://silviadelucca.art.br/wp-content/themes/silviadeluccatheme/assets/images/uploads/home/silvia2.jpg");
        background-position-x: 0px;
        background-position-y: -703px;
    }

    .home.mobile .bottom .button.homenagem {
        background-image: url("https://silviadelucca.art.br/wp-content/themes/silviadeluccatheme/assets/images/uploads/home/silvia2.jpg");
        background-position-x: -326px;
        background-position-y: -306px;
        transform: rotate(1deg);
    }

    .home.mobile .bottom .footer {
margin-top: 5vh;
    }

    .home.mobile .bottom .footer-text {
        text-align: center;
        color: rgba(0,0,0,0.3);
        /*text-transform: none;*/
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        padding-right: 5vw;
        padding-left: 5vw;
        font-weight: 600;
        font-size: 3.25vw;
    }
}
